.header {
    background-color:  black;
    color: white;
    text-align: center;
    font-size: 60px;
}
.quizQuestion {
    text-align: center;
    background-color: lightgray;
}
.timer {
    font-size: 30px;
    
}
.button {
    align-items: center;

}
.quizChoices {
    text-align: center;
}