* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .head{
     display: block;
     display: flex;
     text-align: center;
     width: 100%;
     height: 170px;
     display: flex;
     flex-direction: row;
     background-image: url(./images/dark-wood-texture.jpg);
     color: white;
     
     
     
 }
 
     
   
 
     
     
 

 .body{
     display: flex;
 }
 .projects {
     float: right;
     display: flex;
     background-image: url(./images/wood.jpg);
     margin: 5px;
 }
 nav {
     display: flex;
     align-items: center;
     flex-direction: row;
     line-height: 2;
     font-size: 24px;
 }
 body {
     display: flex;
     background-color: rgb(255, 255, 255);
     flex-wrap: wrap;
     flex-direction: column;
     font-size: 16px;
 }

 .about{
     float: right;
     width: 75%;
     background-image: url(./images/wood.jpg);
     color: white;
     
 }
 .sidebar {
     background-image: url(./images/wood.jpg);
     width:22%;
     height: 900px;
     float: left;
     color: white;


     
 }

 .sidebartext{
 float: right;    
 margin-top: 450px;

 }
 .sidebartext1{
float: right;   
 }
 
 .me {
     background-color: rgb(255, 255, 255);
     margin: 5;
     background-image: url(./images/wood.jpg);
 }
 .projects {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    color: white;
    background-color: gray;
    width: 75%; 
    align-items: center;
    height: 70%;
     
 }
 
 
 
 .boxtext {
     position: absolute;
     font-size: 40px;
     top: 50%;
     left: 50%;
     background-color: lightslategray
 
 }
 
 .boxtext1 {
     position: absolute;
     font-size: 40px;
     top: 50%;
     left: 50%;
     background-color: lightslategray
 }
 
 main div {
     float: left;
 }
 .footer {
     background-image: url(./images/dark-wood-texture.jpg);
     height: 170px;
     color: white;
     text-align: center;
 }

 .games{ 
     background-image: url(./images/retro-game-cover-image-886x590.jpg);
     width: 550px;
     flex-wrap: wrap;
     height: 400px;
     float: none;
     margin: 5px;
     background-size: cover;
 }
 .websites {
    background-image: url(./images/really-cool-websites.jpg);
    flex-wrap: wrap;
    display: block;
    width: 700px;
    height: 400px;
    float: right;
    margin: 5px;
    background-size: cover;

 }
 .random {
    background-image: url(./images/featured_image-1.webp);
    width: 400px;
    flex-wrap: wrap;
    height: 400px;
    float: none;
    margin: 5px;
    background-size: cover;

 }
 .cool {
    background-image: url(./images/jQBb9P4LeW36RbVtcFmRag.jpg);
    width: 600px;
    flex-wrap: wrap;
    height: 400px;
    float: right;
    margin: 5px;
    background-size: cover;
    align-items: center;
 }
 .gamestext {
    margin-top: 150px; 
    background-image: url(./images/wood.jpg);
    color: white;
    width: 110px;
    border: white;
    
    }
.picme {
    background-image: url(./images/IMG_4035.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    float: left;
    margin: 10px;
}
.contact {
   
}
@media screen and (max-width: 1726px) {
    .sidebar{
        height: 1450px;
    }
}
@media screen and (max-width: 1392px) {
    .sidebar{
        height: 1750px;
    }
}